:root {
    --primary-color:#4C1D95; 
    --off-white: #E5E7EB;
    --button-color: #831843;
}
body{
    display: block;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    padding: 2rem 1rem;
    color: white;
    background-color: var(--primary-color)  ;
    text-align: center;
}

.label{
    font-size: 1.3rem;
    padding: 2rem 1rem 0.5rem;
    color: whitesmoke;
    text-align: center;
}
.input{
    display: block;
    margin: auto;
    padding: 1rem;
    height: 5px;
    width: 75%;
}
button{
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    border: none;
    margin: 1rem auto 0;
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
}

table {
    display: table;
    width: 100%;
    margin: 1rem 0;
    table-layout: fixed;
    padding: 0.2rem;
    background-color: var(--button-color);
    border: 2px solid var(--off-white);
    border-collapse: collapse;
    
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}